/* Global Styles */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
	font-size: 1.9rem;
}

.heading{
	font-size: 2rem;
	font-weight: 200;
	margin: 1rem 0 0.5rem 0;
	text-align: center;
}

/* ----------------------------------------- */

.about{
	background-color: white;
	margin: 0 auto;
	width: 900px;
}

.about a:visited{
	color: black;
}

.about__githubLink{
	text-decoration: underline;
}

.about > h1{
	font-weight: 100;
	margin: 40px 0;
	text-align: center;
}


.about > .about__pic{
	margin: 20px auto;
	width: 250px;
}

.about > .about__pic > img{
	border-radius: 50%;
	width: 100%;
}

.button__github{
	background-color: gray;
	border: none;
	margin: 10px 0;
	padding: 5px 40px;
	text-align: center;
}

											/* Contact */

.contact{
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

.contact > .contact__info{
	border: 1px solid;
	padding: 10px;
}

.contact > .contact-form{
	border: 1px solid;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

														/* Navigation */
.navbar{
	align-items: center;
	background-color: black;
	color: white;
	display: flex;
	padding: 20px;
}

.navbar .navbar__logo > h2 > a{
	color: white;
}

.navbar__links{
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	width: 300px;
}

.navbar > .navbar__logo > h2{
	font-weight: 300;
}

.navbar > ul > li{
	list-style: none;
	margin-left: 20px;
}

.navbar > ul > li > a{
	text-decoration: none;
}

.navbar > ul > li > a:hover{
	border-bottom: 2px solid #296CA8;
	padding-bottom: 10px;
}

.navbar > ul > li > a:visited{
	color: white;
}

/* Projects */

.projects{
	border-radius: 10px;
	color: black;
	margin: 25px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 1300px;
}

.project-section > .section-title{
	border-bottom: 1px solid lightgray;
	font-weight: 400;
	margin: 40px auto;
	padding-bottom: 10px;
	text-align: center;
	width: 50%;
}


.project{
	background-color: #DEDEDE;
	border-radius: 10px;
	width: 390px;

	-webkit-box-shadow: 6px 6px 24px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 6px 6px 24px 0px rgba(0,0,0,0.28);
	box-shadow: 6px 6px 24px 0px rgba(0,0,0,0.28);
}

.project > .project__description{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0;
	padding: 14px;
	height: 120px;
}

.project > .project__image{
	border-radius: 10px;
	margin: 2px auto;
	height: 180px;
	width: 350px;
}

.project > .project__image > img{
	height: 100%;
	width: 100%;
}

.project > .project__stacks{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}

.project .project__stack{
	border: 1px solid #007bff;
	border-radius: 3px;
	color: #007bff;
	font-size: 1.2rem;
	padding: 5px;
}

.project > .project__links{
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 80%;
}

.project__links > .project__link{
	border-radius: 10px;
	color: black;
	font-size: 1.2rem;
	padding: 7px 15px;
}

.project__link.project__link--github{
	background-color: grey;
}

.project__link.project__link--page{
	background-color: #296CA8;
}

.projects > .project__type{
	border: 1px solid;
	display: block;
	margin: 20px 0;
}

.project__title{
	margin-top: 20px;
	text-align: center;
}

.project__title > h2{
	font-weight: 700;
}

.project__type{
	margin: 20px 0;
	text-align: center;
}

/* Resume */
.resume{
	background-color: #296CA8;
	padding: 3rem;
}

.resume > .resume__link{
	display: flex;
	margin-top: 2rem;
	justify-content: center;
}

.resume > .resume__link > a{
	background-color: #dedede;
	color: black;
	font-size: 1.4rem;
	padding: 1.5rem;
}

/* Technology */

.technology__experience{
	background-color: #dedede;
	margin-top: 4rem;
	padding: 1.9rem;
}

.technology__experience > .technology__container{
	margin: 3rem auto;
	max-width: 900px;
}

.technology__container > .technology__row{
	display: flex;
	margin-top: 3rem;
	justify-content: space-around;
}

.technology__experience .tech__icon{
	color: #296ca8;
	font-size: 5rem;
}

   /*Firefox  */
   @-moz-document url-prefix(){

    body{
        font-size: 1.5rem;
	}

	.project > .project__links{
		height: 90px;
	}
	
	
}


/* Regular */
@media(max-width: 1300px){
	.projects{
		grid-template-columns: repeat(2, 1fr);
		width: 850px;
	}	

	.project{
		margin: 15px auto;
	}
}

/* Small Screen */
@media(max-width: 870px){
	.projects{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 550px;
	}
}