/* Global Styles */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.heading{
	font-size: 2rem;
	font-weight: 200;
	margin: 1rem 0 0.5rem 0;
	text-align: center;
}

/* ----------------------------------------- */

.about{
	background-color: white;
	margin: 0 auto;
	width: 900px;
}

.about a:visited{
	color: black;
}

.about__githubLink{
	text-decoration: underline;
}

.about > h1{
	font-weight: 100;
	margin: 40px 0;
	text-align: center;
}

.about > p{
	font-size: 1.3rem;
	line-height: 1.8rem;
	text-align: center;
}

.about > .about__pic{
	margin: 20px auto;
	width: 250px;
}

.about > .about__pic > img{
	border-radius: 50%;
	width: 100%;
}

.button__github{
	background-color: gray;
	border: none;
	margin: 10px 0;
	padding: 5px 40px;
	text-align: center;
}

.navbar{
	align-items: center;
	background-color: black;
	color: white;
	display: flex;
	padding: 20px;
}

.hero{
	background-image: url('/img/dan-VYXhQRPyHB0-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.navbar__links{
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	width: 300px;
}

.navbar > .navbar__logo > h2{
	font-weight: 300;
}

.navbar > ul > li{
	list-style: none;
	font-size: 1.2rem;
	margin-left: 20px;
}

.navbar > ul > li > a{
	text-decoration: none;
}

.navbar > ul > li > a:hover{
	border-bottom: 2px solid #296CA8;
	padding-bottom: 10px;
}

.navbar > ul > li > a:visited{
	color: white;
}

/* Projects */

.projects{
	border-radius: 10px;
	color: black;
	margin: 25px auto;
	display: flex;
	justify-content: space-around;
	width: 1600px;
}

.project{
	background-color: #DEDEDE;
	border-radius: 10px;
	width: 450px;

	-webkit-box-shadow: 6px 6px 24px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 6px 6px 24px 0px rgba(0,0,0,0.28);
	box-shadow: 6px 6px 24px 0px rgba(0,0,0,0.28);
}

.project > .project__description{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.3rem;
	margin: 10px 0 10px 0;
	padding: 10px;
	height: 120px;
}

.project > .project__image{
	border-radius: 10px;
	margin: 10px auto;
	height: 205px;
	width: 420px;
}

.project > .project__image > img{
	height: 100%;
	width: 100%;
}

.project > .project__stacks{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}

.project .project__stack{
	border: 1px solid #007bff;
	border-radius: 3px;
	color: #007bff;
	font-size: 1.2rem;
	margin: 10px 3px 0 0;
	padding: 5px;
}

.project > .project__links{
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100px;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	width: 80%;
}

.project__links > .project__link{
	border-radius: 10px;
	color: black;
	font-size: 1.2rem;
	padding: 7px 15px;
}

.project__link.project__link--github{
	background-color: grey;
}

.project__link.project__link--page{
	background-color: #296CA8;
}

.projects > .project__type{
	border: 1px solid;
	display: block;
	margin: 20px 0;
}

.project__title{
	margin-top: 20px;
	text-align: center;
}

.project__title > h2{
	font-weight: 700;
}

.project__type{
	margin: 20px 0;
	text-align: center;
}

/* Resume */
.resume{
	background-color: #296CA8;
	padding: 3rem;
}

.resume > .resume__link{
	display: flex;
	margin-top: 2rem;
	justify-content: center;
}

.resume > .resume__link > a{
	background-color: #dedede;
	color: black;
	font-size: 1.4rem;
	padding: 1.5rem;
}

/* Technology */

.technology__experience{
	background-color: #dedede;
	margin-top: 4rem;
	padding: 1.9rem;
}

.technology__experience > .technology__container{
	margin: 3rem auto;
	max-width: 900px;
}

.technology__container > .technology__row{
	display: flex;
	margin-top: 3rem;
	justify-content: space-around;
}

.technology__experience .tech__icon{
	color: #296ca8;
	font-size: 5rem;
}